.header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    background-color: transparent;
    height: 10vh;
    color: #d3d3d3; 
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    background-color: black;
    overflow-x: hidden;
}

.header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_left, .header_right {
    display: flex;
    align-items: center;
}

.header_left ul, .header_right ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_left li, .header_right li {
    margin: 0 10px;
    color: #d3d3d3; 
}

.header_left img {
    margin-right: 10px;
    opacity: 0.8; 
}

.header_left li:hover, .header_right li:hover {
    cursor: pointer; 
    color: #ffffff; 
}
